

<div class="row">
    <div class="col-lg-4 offset-lg-4">
        <h2 class="titulo">BMI-CALCULATOR</h2>
        <div class="row">
            <div class="col-lg-6">
                <div class="fondoItem" [ngClass]="{'sexoSeleccionado': sexo === 'Masculino'}">
                    <div class="contenedor contenedor__cursor" (click)="masculino()">
                        <i class="fas fa-mars sexo"></i>
                        <p>Masculino</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="fondoItem" [ngClass]="{'sexoSeleccionado': sexo === 'Femenino'}">
                    <div class="contenedor contenedor__cursor" (click)="femenino()">
                        <i class="fas fa-venus sexo"></i>
                        <p>Femenino</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="fondoItem">
                    <div class="contenedor">
                        <p>Altura</p>
                        <div class="estiloNumero"> {{altura}} <span class="cm">cm</span></div>
                        <input type="range" [value]='altura' min="30" max="250" class="form-range" (input)="Altura($event)">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="fondoItem">
                <div class="contenedor">
                    <p>Peso</p>
                    <div class="estiloNumero">{{peso}}</div>
                    <div class="iconos">
                        <i class="fas fa-minus sumaResta" (click)="pesoResta()"></i>
                        <i class="fas fa-plus sumaResta" (click)="pesoSuma()"></i>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="fondoItem">
                    <div class="contenedor">
                        <p>Edad</p>
                        <div class="estiloNumero">{{edad}}</div>
                        <div class="iconos">
                            <i class="fas fa-minus sumaResta" (click)="edadResta()"></i>
                            <i class="fas fa-plus sumaResta" (click)="edadSuma()"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-primary btn-lg btn-color" (click)="calcular()">
                    Calcular
                </button>
            </div>
        </div>
    </div>
</div>